/* Especificidad =  001 */
body{
	display: grid;
	grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
	grid-template-rows: 20% 1fr 15%;
	grid-template-columns: 20% 1fr 15%;
	grid-row-gap: 10px;
}
/* Especificidad =  001 */
footer {
	grid-area: footer;
}
/* Especificidad =  001 */
main {
	grid-area: main;
}
/* specificity = 100 */
#NavBar {
	grid-area: nav;
}
/* Especificidad =  100 */
#mainAside {
  grid-area: aside;
}
/* Especificidad =  100 */
#pageHeader {
  grid-area: header;
}
/* Especificidad =  001 */
header{
	text-align: center;
}

/* Especificidad =  001 */
header,
footer,
article,
nav,
aside {
  margin: 10px;
}
